# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pyd
*.pyo
*.pyt
*.pytest_cache/

# Environment / virtualenv
.venv/
env/
ENV/
venv/
*.env
*.venv

# Flask / instance folder
instance/
*.db

# Flask-Migrate / Alembic migrations
migrations/

# VSCode
.vscode/

# Logs
*.log

# MacOS
.DS_Store
